{% extends "jobber/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--/ Intro Skew Star /-->
  
  <div id="home" class="intro route bg-image" style="background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <p class="intro-subtitle">Please answer these questions in between 2 or 4 sentences</p>
          <form method="POST"> 
          {% csrf_token %}
          <div class="form-group">
            <label for="area1">How is your day doing?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="job0"></textarea>
          </div>
          <div class="form-group">
            <label for="area2">What is your favourite food?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="job1"></textarea>
          </div>
          <div class="form-group">
            <label for="area3">What are your hobbies?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="job2"></textarea>
          </div>
           <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}