{% extends "jobber/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--/ Intro Skew Star /-->
  
  <div id="home" class="intro route bg-image" style="background-image: url('{% static 'jobber/img/intro-bg.jpg' %}')">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">We help find</h1>
          <p class="intro-subtitle"><span class="text-slider-items">New jobs,Safety, Future</span><strong class="text-slider"></strong></p>
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <input id="job" type="text" name="job" maxlength="100" required>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}