{% extends "jobber/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--/ Intro Skew Star /-->
  

  {% if danger == 'unsafe' %}
  <div id="home" class="intro route bg-image" style="background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);">
  {% else %}
  <div id="home" class="intro route bg-image" style="background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);">
  {% endif %}
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <p class="display-6 color-d">{{job}}</p>
          {% if danger == 'unsafe' %}
          <p class="intro-subtitle">You are at risk</p>
          <a class="mr-2 textcolor links" href="{% url 'find' %}">
          <button type="button" class="btn btn-success">
          FIND NEW JOB
          </button>
          </a>
          {% else %}
          <p class="intro-subtitle">Your job will not be automated in the nearest future</p>
          <a class="mr-2 textcolor links" href="{% url 'jobber-home' %}">
          <button type="button" class="btn btn-success">
          BACK TO HOME
          </button>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}