{% extends "jobber/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--/ Intro Skew Star /-->
  
  <div id="home" class="intro route bg-image" style="background-image: url('{% static 'jobber/img/intro-bg.jpg' %}')">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <p class="display-6 color-d">{{job}}</p>
          <p class="intro-subtitle"><span class="text-slider-items">Your job is {{danger}}</span><strong class="text-slider"></strong></p>
          {% if danger == 'unsafe' %}
          <a class="mr-2 textcolor links" href="{% url 'find' %}">
          <button type="button" class="btn btn-success">
          FIND NEW JOB
          </button>
          </a>
          {% else %}
          <a class="mr-2 textcolor links" href="{% url 'jobber-home' %}">
          <button type="button" class="btn btn-success">
          BACK TO HOME
          </button>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}